
<div class="home-page">

    <div class="banner">
        <div class="container">
            <h1 class="logo-font" style="text-align: center; font-weight: bold;">Juanan Hernandez </h1>
        </div>
    </div>

    <div class="main-container">
        <section id="timeline" class="timeline-outer">
            <div class="container" id="content">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <h1 class="blue-text lighten-1 header">Mi timeline</h1>

                        <ul class="timeline">
                            <li class="event">
                                <div class="panel-wrapper" (click)="showDiv(1);">
                                    <div class="panel" id="panel-1">
                                        <h3 i18n="@@home-job-title-1">Software Developer</h3>
                                        <h5><a class="link-effect" href="https://www.bbvanexttechnologies.com" target="_blank">BBVA Next
                                            Technologies</a></h5>
                                        <p style="font-style: italic">May 2018 / Pres. </p>
                                        <p>Desarrollador Software trabajando en proyectos para el sector bancario (fondos de inversión) Tecnologías: Python, Java, Angular, NodeJS, Jenkins, AWS, Git</p>
                                    </div>
                                </div>
                            </li>

                            <li class="event">
                                <div class="panel-wrapper" (click)="showDiv(2);">
                                    <div class="panel" id="panel-2">
                                        <h3>Consultor Gestión Documental</h3>
                                        <h5><a class="link-effect" href="https://www.iecisa.com" target="_blank">Informática El Corte Inglés (IECISA)</a></h5>
                                        <p style="font-style: italic">Nov 2017 / Abr 2018 </p>
                                        <p>Análisis e implementación de migraciones y nuevos proyectos de gestión documental (Alfresco y Documentum) así como de digitalización (Captiva). Desarrollo de módulos y funcionalidades a medida dentro del alcance de los proyectos ECM (Enterprise Content Management),  en lenguajes de programación Java y .NET. </p>
                                    </div>
                                </div>
                            </li>

                            <li class="event">
                                <div class="panel-wrapper" (click)="showDiv(3);">
                                    <div class="panel" id="panel-3">
                                        <h3>Asistente</h3>
                                        <h5><a class="link-effect" href="https://www.managementsolutions.com" target="_blank">Management Solutions</a></h5>
                                        <p style="font-style: italic">Jun 2017 / Ago 2017 </p>
                                        <p>Análisis y definición cross de los mecanismos de seguridad de las nuevas soluciones tecnológicas implementadas en una importante entidad bancaria (para cumplir con la normativa europea MiFID II)</p>
                                    </div>
                                </div>
                            </li>

                            <li class="event">
                                <div class="panel-wrapper" (click)="showDiv(4);">
                                    <div class="panel" id="panel-4">
                                        <h3>Asistente</h3>
                                        <h5><a class="link-effect" href="https://atos.net" target="_blank">Atos</a></h5>
                                        <p style="font-style: italic">Dic 2016 / Jun 2017 </p>
                                        <p>Desarrollo de aplicaciones en Android y criptoseguridad Java (Single Sign On).  Tecnología NFC, servicios MOCA, Paypal, Braintree. Apoyo en desarrollo de aplicaciones iOS con XCode.</p>
                                    </div>
                                </div>
                            </li>

                            <li class="event">
                                <div class="panel-wrapper" (click)="showDiv(5);">
                                    <div class="panel" id="panel-5">
                                        <h3>Asistente</h3>
                                        <h5><a class="link-effect" href="https://www.accenture.com" target="_blank">Accenture</a></h5>
                                        <p style="font-style: italic">Jul 2016 / Sep 2016 </p>
                                        <p>Revisión de procesos PLM para empresa de fabricación textil. Análisis As-Is y Roadmap To-Be. </p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>

    </div>




</div>

