<div class="home-page">

    <div class="banner">
        <div class="container">
            <h1 class="logo-font" style="text-align: center; font-weight: bold;">Juanan Hernandez </h1>
        </div>
    </div>

    <div class="main-container">
        <section id="timeline" class="timeline-outer">
            <div class="container" id="content">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <h1 class="blue-text lighten-1 header">Mi timeline</h1>

                        <ul class="timeline">
                            <li class="event">
                                <h3>Software Developer</h3>
                                <h5>BBVA Next Technologies</h5>
                                <p style="font-style: italic">May 2018 / Pres. </p>
                                <p>Desarrollador Software para la consultora BBVA Next Technologies</p>
                            </li>

                            <li class="event">
                                <h3>Software Developer</h3>
                                <h5>BBVA Next Technologies</h5>
                                <p style="font-style: italic">May 2018 / Pres. </p>
                                <p>Desarrollador Software para la consultora BBVA Next Technologies</p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>

    </div>

</div>
